# Gradle
.gradle/
.kotlin/
build/
!gradle/wrapper/gradle-wrapper.jar

# Development server created by run-paper
run/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse / VS Code Java
.classpath
.project
.settings/
bin/
.vscode/

# OS
.DS_Store
Thumbs.db
